.form-sign {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: #ffffff70;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    padding: 35px;

    background: #000000;
}

.form__header {
    display: flex;
    align-items: center;
}

.form-legend,
.form-label {
    color: #ffffff;
}

.login-text {
    width: 15px;
}

.form-legend {

    font-size: 30px;

    padding: 30px 0;
}

.form-label {
    font-size: 18px;

    padding: 10px 0;
}

.form__login,
.form__pass,
.form__email {
    font-size: 18px;

    height: 40px;
}

.form__close-btn {
    display: flex;
    justify-content: flex-end;

    font-size: 45px;
    font-weight: 600;

    cursor: pointer;
}

.form__btn {
    font-size: 18px;
    color: #ffffff;
    background: #fa9021;

    border: none;
    border-radius: 10px;

    padding: 10px 0;
    height: 40px;

    cursor: pointer;
}

.form__switch-link {
    margin: 10px 0 0 0;

    cursor: pointer;
    color: dodgerblue;
}

.form-reg {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: #ffffff70;
}