.form-sign{
    display: flex;
    flex-direction: column;
    align-items: center;

    background: #ffffff;

    position: absolute;
    transform: translate(0%,0%);
}

.form-legend, .form-label{
    color: #000000;
}