.gamedev{
    font-family: 'Poppins', sans-serif;

    display: flex;
    margin-top: 112px;
}

.gamedev__information{
    display:flex;
    flex-direction:column;

}

.gamedev__subtitle{
    color: #E87D0E;

    font-size: 20px;
    font-weight: 700;
}

.gamedev__title{
    margin-top: 17px;
    margin-bottom: 26px;

    font-size:50px;
    line-height: 187.5%;
    font-weight: 700;
}

.gamedev__description{
    margin-bottom: 50px;
    
    font-size: 16px;
    font-weight: 500;
    line-height: 200%;
}

.gamedev__button{
    background: linear-gradient(to right, #fa8305, #fb9e3c);
    color:white;

    width: 195px;
    height: 53px;

    border:none;
    border-radius: 40px;

    font-size: 16px;
    font-weight: 500;
}


.gamedev__image1, .gamedev__image2,
.gamedev__image3{
    position: absolute;
}

.gamedev__image1{
   left: 1168px;
   top: 218px;
}

.gamedev__image2{
    left: 828px;
    top: 202px;
}

.gamedev__image3{
    left: 649px;
    top: 409px;
}

.gamedev__image4{
    position: relative;
    z-index: -1;
    
    left: 125px;
    top: -215px;
}

.information{
    width: 527px;
    height: 512px;
}