.gamedev{
    display: flex;

    margin-top: 112px;
}

.gamedev-information{
    display:flex;
    flex-direction:column;


    width: 527px;
    height: 512px;
}

.gamedev__subtitle{
    color: #E87D0E;

    font-size: 20px;
}

.gamedev__title{
    margin-top: 17px;
    margin-bottom: 26px;

    font-size:50px;
}

.gamedev__description{
    font-size: 16px;
    margin-bottom: 50px;
}

.gamedev__button{
    background: linear-gradient(to right, #fa8305, #fb9e3c);
    color:white;

    width: 195px;
    height: 53px;

    border:none;
    border-radius: 40px;

    font-size: 16px;
}


.gamedev__image1, .gamedev__image2,
.gamedev__image3{
    position: absolute;
}

.gamedev__image1{
   left: 1168px;
   top: 218px;
}

.gamedev__image2{
    left: 828px;
    top: 202px;
}

.gamedev__image3{
    left: 649px;
    top: 409px;
}

.gamedev__image4{
    position: relative;
    z-index: -1;
    
    left: 70px;
    top: -200px;
}