.header{
    font-family: 'Poppins', sans-serif;
}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navbar-ul{
    display:flex;
    gap: 88px;

    align-items: center;
}

.navbar__sign-button{
    color: white;
    background-color: #Fa9021;
    
    font-size: 13px;
    font-weight: 400;

    width: 131.77px;
    height: 41.34px;
    margin-right: 55px;

    border-radius: 6px;
    border:none;

}

.navbar__logo{
    font-size: 29px;
    font-weight: 800;
}

.navbar-li{
    font-size: 16px;
    list-style: none;
}
