.project{
    display: flex;
    justyfy-content: center;
    margin-left: 147px;
}

.project__information{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.project__grid-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1170px;
    
    gap: 27px;
}

.project__sell{
    height: 57px;
    margin-top: 72px;

    color: #ffffff;
    background: #FFFFFF1C;

    font-weight: 500;
    font-size: 20px;

    border: none;
    border-radius: 10px;
}