.project{
    display: flex;
    justify-content: center;

    font-family: 'Poppins', sans-serif;
    margin-top: 141px;
}

.project__information{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.project__title{
    font-size: 30px;
    font-weight: 500;
    line-height: 187.5%;
}

.project__discription{
    font-size: 14;
    font-weight: 400;
    line-height: 187.5%;

}

.project__grid-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1170px;
    
    gap: 27px;
}

.project__sell{
    height: 57px;
    margin-top: 72px;

    color: #ffffff;
    background: #FFFFFF1C;

    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 187.5%;

    border: none;
    border-radius: 10px;
}