.review{
    display: flex;
    flex-direction: column;

}

.review__subtitle{
    font-size: 35px;
    line-height: 187.5%;

    margin-bottom: 67px;

}

.review__block-subtitle{
    display: flex;
    justify-content: center;
}

.review__block{
    width: 545px;
    height: 173px;

    margin-bottom: 46px;
}

.review__title{
    font-size: 40px;
    margin-bottom: 32px;
}

.review__description{
    font-size: 16px;
    line-height: 187.5%;
}

.review__img-block{
    margin-bottom: 157px;
}

.review__img-addition{
    position: absolute;
    width: 196px;
    height:154px;
    transform: translate(480%,250%);
    z-index: -2;
}