.review{
    display: flex;
    flex-direction: column;

    font-family: 'Poppins', sans-serif;
}

.review__subtitle{
    font-size: 35px;
    line-height: 187.5%;
    font-weight: 600;

    margin-bottom: 67px;

}

.review__block-subtitle{
    display: flex;
    justify-content: center;
}

.review__block{
    width: 545px;
    height: 173px;

    margin-bottom: 46px;
}

.review__title{
    margin-bottom: 32px;
    
    font-size: 30px;
    font-weight: 600;
    line-height: 187.5%;

}

.review__description{
    font-size: 16px;
    font-weight: 400;
    line-height: 187.5%;
}

.review__img-block{
    display: flex;
    justify-content: center;

    margin-bottom: 157px;
}

.review__img-addition{
    position: absolute;
    width: 196px;
    height:154px;

    transform: translate(200%, 30%)
    z-index: -2;
}