.trending{
    display: flex;
    flex-direction: column;

    font-family: 'Rubik', sans-serif;
}

.trending__information{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.trending__title{
    font-size: 31px;
    font-weight: 700;
    font-width: 187.5%;
}

.trending_button{
    width: 139px;
    height: 57px;
    
    font-size: 20px;
    font-weight: 500;

    color: #ffffff;
    background-color: #ffffff22;

    border: none;
    border-radius: 10px;
}


.trending__cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-top: 57px;
    gap: 49px;
}

.trending__card-information{
    display: flex;
    justify-content: center;
    gap: 9px;
}

.trending__card-block-desription{
    font-size: 22px;
    font-width: 187.5%;
    font-weight: 500;
}