.container{    
    color: #ffffff;
    background-color: #000000;

    margin: 0;
    margin-left: 147px;
    margin-right: 147px;
}

button, li{
    cursor: pointer;
}

@media (max-width: 1400px) {
    .container{
        
    }
}

@media (min-width: 600px) {
    
}